<section class="pd-users-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div>
                    <h2 class="text-center">Main User</h2>
                    <img src="{{users?.avatar}}">
                    <h4>Name:{{users?.first_name}} {{users?.last_name}} </h4>
                    <h5>User ID: {{users?.id}}</h5>
                    <h6>Email:{{users?.email}} </h6>
                </div>
            </div>
        </div>
    </div>
   <!-- <pre>
    {{users | json}}
   </pre> -->
</section>